body {
	padding: 1em;
}

.error {
	color: red;
}

#style-image-previews {
	max-height: 400px;
	overflow-y: scroll;
}

.style-image {
	width: 120px;
	height: 120px;
	border: 3px solid transparent;
}

.selected {
	border: 3px solid #9b4dca;
}

@keyframes anim {
  to {
    background-color: #fff;
  }
}

@keyframes anim-half {
  50% {
    background-color: #fff;
  }
}

.art-rendering {
	animation-name: anim;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
	background-color: #c29ada;
	color: #000;
}

.art-done {
	background-color: #9b4dca;
	color: #fff;
}

.art-status {
	width: 30px;
}
